html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/* HEADER */
#btn-login {
  background: #ffffff;
  color: #fb8f1d;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  height: 44px;
  width: 132px;
  user-select: none;
}

#btn-register {
  background: #fb8f1d;
  color: #ffffff;
  border-radius: 8px;
  height: 44px;
  width: 132px;
  user-select: none;
}
@media (max-width: 420px) {
  #btn-register {
    width: 100%;
  }
  #btn-login {
    width: 100%;
  }
}
